.table-container {
    width: 100%;
    height: 100%;
    display: block;
 }

 ul {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }

 .tabs {
    position: relative;
}

.tabs li {
    float: left;
    width: 50%;
    display: block;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs label {
    display: block;
    padding: 25px 0;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    background: #d9d9d6;
    color: #707372;
    cursor: pointer;
    position: relative;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.tabs label:hover {
    background: #7ccbea;
    color: #ffffff;
}

.tabs label span {
    display: block;
    font-size: 2em;
    line-height: 1;
    font-weight: 900;
}

.tabs .tab-content {
    z-index: 2;
    display: none;
    margin: 25px 0;
    #overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    line-height: 25px;
    position: absolute;
    left: 0;
    background: #ffffff;
}

.tabs [id^="tab"]:checked+label {
    background: #b6d7a8;
    color: #ffffff;
}

.tabs [id^="tab"]:checked+label:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    border: 20px solid transparent;
    border-bottom-color: #fff;
}

.tabs [id^="tab"]:checked~[id^="tab-content"] {
    display: block;
}

 .schedule-wrapper {
     display: inline-flex;
     margin: 25px auto;
     height: calc(100% - 200px);
     overflow-x: auto;
     overflow-y: hidden;
     cursor: -webkit-grab;
     cursor: grab;
     cursor : -o-grab;
     cursor : -moz-grab;
 }
 .table-flex {
     display: flex;
     flex-direction: column;
     width: 250px;
     #border-right: 0.5px solid #ebebeb;
     padding: 0px 0px;
     #min-height: 450px;
 }
 .location-events{
     padding: 10px;
 }

body.showModal {
    overflow: hidden;
}

 .table-flex > .col-header > p {
     font-weight: bold;
 }

 .table-flex .col-child {
     margin-bottom: 15px;
     text-align: center;
 }

 .table-flex > .col-child > p {
     padding-left: 5px;
     background-color: lightgrey;
 }

 .col-header {
     text-align: center;
     margin: 0px 0px;
     height: 75px;
     font-size: 15px;
     background-color: #bfbff2;
     color:white;
     #background-color: lightgray;
     border-bottom: 0.5px solid #ebebeb;
     border-right: 0.5px solid #ebebeb;
 }

 .col-header>p {
     padding-top: 25px;
     vertical-align: middle;
     margin: 0px 0px;
     position: relative;
 }
 .col-child{
     background: #a4c2f4;
     padding: 10px 15px;
     -webkit-box-shadow: 0px 2px 5px 0px rgba(189,189,189,1);
     -moz-box-shadow: 0px 2px 5px 0px rgba(189,189,189,1);
     box-shadow: 0px 2px 5px 0px rgba(189,189,189,1);
 }
 .col-child:hover{
     box-shadow: 0px 0px 0px 0px;
     cursor: pointer;
 }

.event-modal {
    display: none;
    position: relative;
    max-width: 750px;
    width: 100%;
    background-color: white;
    vertical-align: middle;
    z-index: 100;
    transition: all 1s;
    margin: 25px auto;
    box-sizing: border-box;
}

.event-modal .header {
    position: absolute;
    display: block;
    width: 250px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #b6d7a8;
}

.header .content {
    padding: 1.2em;
}

.event-modal > span.close  {
    position: absolute;
    top: 15px;
    right: 15px;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 11px;
    background-color: #ebebeb;
}

.event-modal .body {
    padding: 2em;
    position: relative;
    margin-left: 250px;
    height: 100%;
    overflow: auto;
    width: auto;
}

.event-modal .body .info {
    font-size: 25px;
    color: gray;
}

.event-modal .body .body-bg {
    font-size: 15px;
    padding: 2em 0em;
    color: #585858;
}

.cover-layer {
    position: fixed;
    z-index: 2;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
    visibility: hidden;
    -webkit-transition: opacity .1s, visibility .1s;
    transition: opacity .1s, visibility .1s;
}

@media only screen and (max-width: 767px) {
    .event-modal .body {
        margin-left: 0px;
        width: 100%;
        box-sizing: border-box;
    }

    .event-modal .header {
        position: relative;
        width: 100%;
    }
}


.card-events {
    display: inline-flex;
    overflow-y: auto;
    cursor: -webkit-grab;
    cursor: grab;
    cursor : -o-grab;
    cursor : -moz-grab;
    height: 324.5px;
    overflow-x: hidden;
}

.location-headers {
    display: inline-flex;
}

.table-flex1 {
    display: flex;
    flex-direction: row;
}
.time-line{
    width: calc(5% - 1px);
    background-color: #bfbff2;
    height:400px;
    border-right: 0.5px solid #ebebeb;
    float: left;
}
.time-line-item{
    overflow-y: auto;
    height: 324.5px
}
.time-line-title{
    height: 75.5px;
    background-color: #a4c2f4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time-line-title p{
    font-size: 16px;
    color:white;
}
.wrapper-event{
   float: right;
    width: 95%;
    overflow-x: scroll
}
.timeline-element{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}
.timeline-element p{
    display: inline;
    font-size: 18px;
    color: white;
}
h4.name-event{
    margin-top: 0.38rem;
    color: #fff;
}
p.time{
    display: inline;
    font-size: 18px;
    color: darkorchid;
}


